.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
*.json
config.py
test.py
*.csv
Backup/
__pycache__/
.flake8
ignored/
xml/
test.py