{% extends "default.html" %}

{%block content%}



{% if ip %}
  <h4> ip device: {{ip}} </h4>
{% else %}
  <h4>Hello!</h4>
{% endif %}

{% if vendor %}
<h4>Vendor: {{vendor}}</h4>
{% endif %}


{% if row %}
<table>
  <tr>
      <th>login</th>
      <th>id</th>
      <th>port</th>
      <th>mac</th>
  </tr>
  <tbody>
    {% for init in row %}
    <tr>
      {%for count in init%}
        <td>{{count}}</td>
      {%endfor%}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}




{% endblock %}