{% extends "default.html" %}

{%block content%}

{% if not access %}
{%if time%}
  {%if url_netbox%}
  <a href="{{url_netbox}}">{{dev_name_netbox}}</a>
  {{dev_model_netbox}}
  {% endif %}
<p> Time request: {{time}} </p>
{% endif %}



{% if row  %}
<table>
  <tr>
    {% for head in header_request %}
      <th>{{head}}</th>
    {% endfor %}
  </tr>
  <tbody>
    {% for init in row %}
    <tr>
      {%for count in init%}
        <td>{{init[count]}}</td>
      {%endfor%}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% elif form.data['ip_device'] %}
  <h5>Данные по подключению отсутствуют, проверьте правильность введенных значений или обратитесь к администратору базы<h5>
{% endif %}
{% elif access %}
  <h5>Ip не принадлежит типу Switch.
  <br>access restriction</h5>
{% endif %}



{% endblock %}