body{
	color: #000; font-family: Georgia, 'Times New Roman', Times, serif;
	letter-spacing: normal; text-transform: none;
}



table {
border-spacing: 0;
empty-cells: hide;
}
td {
padding: 10px 20px;
text-align: center;
border-bottom: 1px solid #F4EEE8;
transition: all 0.5s linear;
}
td:first-child {
text-align: left;
color: #3D3511;
font-weight: bold;
}
th {
padding: 10px 20px;
color: #130133;
border-bottom: 1px solid #F4EEE8;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
td:nth-child(even) {
background: #d1ab00;
}
td:nth-child(odd) {
background: #ca9400;
}
th:nth-child(even)  {
background: #000000;
color: #eec200
}
th:nth-child(odd)  {
background: #5d387c;
color: #eec200
}
.round-top {
border-top-left-radius: 5px;
}
.round-bottom {
border-bottom-left-radius: 5px;
}
tr:hover td:nth-child(odd){
background: #da981d;
color: #000
}
tr:hover td:nth-child(even){
background: #997f37;
color: #000;
}
tr:hover td:nth-child(3){
background: #810000;
color: #fff;
}